### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

## Player Count

* Display the total number of players

In [2]:
# player = purchase_data.drop_duplicates()
# players = player.count()
# print(players)
player = purchase_data.loc[:, ["Gender", "SN", "Age"]]
player = player.drop_duplicates()
total_players=player.count()
# Show mulitple specific columns--note the extra brackets
# player

In [3]:
total_player = player["SN"].count()
total_player

576

In [4]:
player_count = pd.DataFrame({"Total Players": [total_player]})
player_count

   Total Players
0            576

In [5]:
fewer_players = player["Gender"].value_counts()
fewer_players

Male                     484
Female                    81
Other / Non-Disclosed     11
Name: Gender, dtype: int64

In [6]:
fewer_player = player["SN"].count()
fewer_player

576

In [7]:
gender_demo = fewer_players/576 
gender_demo

Male                     0.840278
Female                   0.140625
Other / Non-Disclosed    0.019097
Name: Gender, dtype: float64

In [8]:
gd = pd.DataFrame({"Total Count": fewer_players, "Percentage of Players": gender_demo})
gd["Percentage of Players"] = gd["Percentage of Players"].map("{:,.2%}".format)
gd

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [9]:
# The sum method adds every entry in the series
sum_total = purchase_data["Price"].sum()
sumt = "${:.2f}".format(sum_total) 
# sumt

In [10]:
# The sum method adds every entry in the series
average_total = purchase_data["Price"].mean()
avgt = "${:.2f}".format(average_total)
# avgt

In [11]:
purchase_total = purchase_data["Price"].count()
# purchase_total

In [12]:
unique_items = len(purchase_data["Item Name"].unique())
# author_count = len(goodreads_df["Authors"].unique())
# unique_items

In [13]:
# please note that when using the unique function you must have it in [] otherwise you will get a value error since you are looking for a singular value for the table
first_table = pd.DataFrame({"Number of Unique Items": [unique_items], "Average Price": avgt, "Number of Purchases": purchase_total, "Total Revenue": sumt})
first_table

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [14]:
gender = purchase_data["Gender"].value_counts()
gender

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [15]:
average = purchase_data.groupby(["Gender"]).mean()["Price"].rename("Average Purchase Price")
averages= average.astype(float).map("${:,.2f}".format)
averages

Gender
Female                   $3.20
Male                     $3.02
Other / Non-Disclosed    $3.35
Name: Average Purchase Price, dtype: object

In [16]:
total = purchase_data.groupby(["Gender"]).sum()["Price"].rename("Total Purchase Value")
totals= total.astype(float).map("${:,.2f}".format)
# print(totals)

In [17]:
Avg_per_person = total / fewer_players
Avg_per_person = Avg_per_person.astype(float).map("${:,.2f}".format) 
# print(Avg_per_person)

In [18]:
Purchase_analysis = pd.DataFrame({"Purchase Count": gender, "Average Purchase Price": averages, "Total Purchase Value": totals, "Avg Total Purchase per Person": Avg_per_person})
Purchase_analysis
#It should be noted that in order to rename any sort of column it should be in quotes otherwise depending where the data comes from
#it will only take the origianl name of the column

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [19]:
bins = [0, 9, 14, 19, 24, 29, 34, 39, 99]
group_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34",
                "35-39", "40+"]
age_players = purchase_data["Age"].value_counts()
# age_players

In [20]:
# Slice the data and place it into bins
pd.cut(purchase_data["Age"], bins, labels=group_labels).head()

0    20-24
1      40+
2    20-24
3    20-24
4    20-24
Name: Age, dtype: category
Categories (8, object): ['<10' < '10-14' < '15-19' < '20-24' < '25-29' < '30-34' < '35-39' < '40+']

In [21]:
purchase_data["Age Ranges"] = pd.cut(player["Age"], bins, labels=group_labels)
# purchase_data.head()

In [22]:
# Create a GroupBy object based upon "View Group"
t_group = purchase_data.groupby("Age Ranges")

# Find how many rows fall into each bin
count_age = t_group["Age"].count()
count_age

# Get the average of each column within the GroupBy object
# ted_group[["Age"]].sum()

Age Ranges
<10       17
10-14     22
15-19    107
20-24    258
25-29     77
30-34     52
35-39     31
40+       12
Name: Age, dtype: int64

In [88]:
percentage = count_age/576 
table = pd.DataFrame({"Total Count": count_age , "Percentage of Players" : percentage})
table["Percentage of Players"] = table["Percentage of Players"].map("{:,.2%}".format)
table

            Total Count Percentage of Players
Age Ranges
<10                  17                 2.95%
10-14                22                 3.82%
15-19               107                18.58%
20-24               258                44.79%
25-29                77                13.37%
30-34                52                 9.03%
35-39                31                 5.38%
40+                  12                 2.08%

In [24]:
purchase_data["Age Ranges"] = pd.cut(purchase_data["Age"], bins, labels=group_labels)
# purchase_data.head()

In [25]:
ted_group = purchase_data.groupby("Age Ranges")

# Find how many rows fall into each bin
# print(ted_group["Age"].count())
# fourth_table =({"Purchase Count": ted_group["Age"].count()})
fourth_table = ted_group.count()["Price"]
print(fourth_table)

Age Ranges
<10       23
10-14     28
15-19    136
20-24    365
25-29    101
30-34     73
35-39     41
40+       13
Name: Price, dtype: int64

In [26]:
ted_group = purchase_data.groupby("Age Ranges")

# Find how many rows fall into each bin
# print(ted_group["Age"].count())
fifth_table = pd.DataFrame({"Purchase Count": ted_group["Price"].mean().astype(float).map("${:,.2f}".format), })
fifth_table

           Purchase Count
Age Ranges
<10                 $3.35
10-14               $2.96
15-19               $3.04
20-24               $3.05
25-29               $2.90
30-34               $2.93
35-39               $3.60
40+                 $2.94

In [27]:
# Find how many rows fall into each bin
# print(ted_group["Age"].count())
# sixth_table = pd.DataFrame({"Purchase Count": ted_group["Price"].sum().astype(float).map("${:,.2f}".format), })
total_purchase = purchase_data.groupby(["Age Ranges"]).sum()["Price"]
print(total_purchase)

Age Ranges
<10        77.13
10-14      82.78
15-19     412.89
20-24    1114.06
25-29     293.00
30-34     214.00
35-39     147.67
40+        38.24
Name: Price, dtype: float64

In [28]:
# s_table = ({"Purchase Count": ted_group["Price"].sum().astype(float).map("${:,.2f}".format), })
ted_group = purchase_data.groupby("Age Ranges")

# Find how many rows fall into each bin
# print(ted_group["Age"].count())

In [29]:
Avg_per_person = total_purchase/table["Total Count"]
Avg_per_person = Avg_per_person.astype(float).map("${:,.2f}".format)

In [30]:
ted_group = purchase_data.groupby("Age Ranges")

# Find how many rows fall into each bin
# print(ted_group["Age"].count())
seventh_table = pd.DataFrame({"Purchase Count": ted_group["Age"].count(),"Average Purchase Price": ted_group["Price"].mean().astype(float).map("${:,.2f}".format), "Total Purchase Value": ted_group["Price"].sum().astype(float).map("${:,.2f}".format), "Avg Total Purchase per Person": Avg_per_person})

#Please note the name change doesn't actually take the values from previous lines of code all it does is change the name it's the variables after the : that we get our data from
#Another note to make is that when naming your columns it's important that you don't have two columns named exactly the same otherwise the first column will overwrite the 2nd column
seventh_table

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Ranges,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [31]:
total = purchase_data.groupby(["Item ID"])["Price"].sum().rename("Total Purchase Value")
totals= total.astype(float).map("${:,.2f}".format)

In [64]:
unique_pop = purchase_data.loc[:, ["SN", "Item Name", "Price" ]]
unique_pop

                SN                                  Item Name  Price
0          Lisim78  Extraction, Quickblade Of Trembling Hands   3.53
1      Lisovynya38                          Frenzied Scimitar   1.56
2       Ithergue48                               Final Critic   4.88
3    Chamassasya86                                Blindscythe   3.27
4        Iskosia90                                       Fury   1.44
..             ...                                        ...    ...
775     Aethedru70                                       Wolf   3.54
776         Iral74                           Exiled Doomblade   1.63
777     Yathecal72      Celeste, Incarnation of the Corrupted   3.46
778        Sisur91                               Final Critic   4.19
779      Ennrian78                                       Dawn   4.60

[780 rows x 3 columns]

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [65]:
# top_spend_value = purchase_data.groupby(["SN"])["Price"].sum()
# top_spend_value = top_spend_value.sort_values(ascending = False)
# top_spend_value
top_spend_value= unique_pop.groupby(["SN"]).sum().sort_values("Price", ascending = False)["Price"]
print(top_spend_value)

SN
Lisosia93      18.96
Idastidru52    15.45
Chamjask73     13.83
Iral74         13.62
Iskadarya95    13.10
               ...
Ililsasya43     1.02
Irilis75        1.02
Aidai61         1.01
Chanirra79      1.01
Alo38           1.00
Name: Price, Length: 576, dtype: float64

In [66]:
# top_average_value = purchase_data.groupby(["SN"])["Price"].mean().astype(float).map("${:,.2f}".format)
# top_average_value
top_average_value= unique_pop.groupby(["SN"]).mean().sort_values("Price", ascending = False)["Price"].astype(float).map("${:,.2f}".format)
print(top_average_value)

SN
Dyally87          $4.99
Lirtilsa71        $4.94
Yarithsurgue62    $4.94
Ririp86           $4.94
Chanirrasta87     $4.94
                  ...
Eudanu84          $1.02
Qilalista41       $1.02
Aidai61           $1.01
Chanirra79        $1.01
Alo38             $1.00
Name: Price, Length: 576, dtype: object

In [71]:
# top_spend_count = purchase_data.groupby(["SN"])["Price"].count()
# top_spend_count.sort_values(ascending = False)
top_spend_count= unique_pop.groupby(["SN"]).count().sort_values("Price", ascending = False)["Price"]
print(top_spend_count)

SN
Lisosia93       5
Iral74          4
Idastidru52     4
Asur53          3
Inguron55       3
               ..
Hala31          1
Haisurra41      1
Hailaphos89     1
Haestyphos66    1
Iskosian40      1
Name: Price, Length: 576, dtype: int64

In [74]:
most_popular_item = pd.DataFrame({"Purchase Count": top_spend_count , "Item Price" : top_average_value, "Total Purchase Value": top_spend_value})
# most_popular_item.head()

In [75]:
top_spender_items = most_popular_item.sort_values("Total Purchase Value", ascending = False)
# most_popular_items['Total Purchase Value'] = most_popular_items['Total Purchase Value'].map("${:,.2f}".format)
top_spender_items["Total Purchase Value"] = top_spender_items["Total Purchase Value"].map("${:,.2f}".format)
top_spender_items.head()

             Purchase Count Item Price Total Purchase Value
Lisosia93                 5      $3.79               $18.96
Idastidru52               4      $3.86               $15.45
Chamjask73                3      $4.61               $13.83
Iral74                    4      $3.40               $13.62
Iskadarya95               3      $4.37               $13.10


## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [76]:
most_pop = purchase_data.loc[:, ["Item ID", "Item Name", "Price" ]]
# most_pop
# Show mulitple specific columns--note the extra brackets

In [77]:
total_purchase_value = most_pop.groupby(["Item ID","Item Name"]).sum()["Price"].rename("Total Purchase Value")
# total_purchase_value= total_purchase_value.astype(float).map("${:,.2f}".format)
# pd.DataFrame({"Purchase Count": ts})
total_purchase_value

Item ID  Item Name
0        Splinter                                         5.12
1        Crucifer                                        11.77
2        Verdict                                         14.88
3        Phantomlight                                    14.94
4        Bloodlord's Fetish                               8.50
                                                         ...
178      Oathbreaker, Last Hope of the Breaking Storm    50.76
179      Wolf, Promise of the Moonwalker                 26.88
181      Reaper's Toll                                    8.30
182      Toothpick                                       12.09
183      Dragon's Greatsword                              3.27
Name: Total Purchase Value, Length: 179, dtype: float64

In [78]:
item_price= most_pop.groupby(["Item ID","Item Name"]).mean()["Price"].astype(float).map("${:,.2f}".format)

print(item_price)

Item ID  Item Name
0        Splinter                                        $1.28
1        Crucifer                                        $2.94
2        Verdict                                         $2.48
3        Phantomlight                                    $2.49
4        Bloodlord's Fetish                              $1.70
                                                         ...
178      Oathbreaker, Last Hope of the Breaking Storm    $4.23
179      Wolf, Promise of the Moonwalker                 $4.48
181      Reaper's Toll                                   $1.66
182      Toothpick                                       $4.03
183      Dragon's Greatsword                             $1.09
Name: Price, Length: 179, dtype: object

In [79]:
total_purchase_item= most_pop.groupby(["Item ID","Item Name"]).count().sort_values("Price", ascending = False)["Price"]
print(total_purchase_item)

Item ID  Item Name
92       Final Critic                                    13
178      Oathbreaker, Last Hope of the Breaking Storm    12
145      Fiery Glass Crusader                             9
132      Persuasion                                       9
108      Extraction, Quickblade Of Trembling Hands        9
                                                         ..
42       The Decapitator                                  1
51       Endbringer                                       1
118      Ghost Reaver, Longsword of Magic                 1
104      Gladiator's Glaive                               1
91       Celeste                                          1
Name: Price, Length: 179, dtype: int64

In [80]:
#item_name_df = purchase_data[["Item ID","Item Name"]].drop_duplicates()
#item_name_df

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [81]:
#most_popular_item = pd.DataFrame({"Purchase Count": total_purchase_item , "Item Price" : item_price, "Total Purchase Value": total_purchase_value.map("${:,.2f}".format)})
#most_popular_item.sort_values("Purchase Count", ascending = False).head()

In [82]:
most_popular_items = pd.DataFrame({"Purchase Count": total_purchase_item , "Item Price" : item_price, "Total Purchase Value": total_purchase_value})
# most_popular_items.head()

In [83]:
item_count = most_popular_items.sort_values("Purchase Count", ascending = False)
# most_popular_items['Total Purchase Value'] = most_popular_items['Total Purchase Value'].map("${:,.2f}".format)
item_count["Total Purchase Value"] = item_count["Total Purchase Value"].map("${:,.2f}".format)
item_count.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

In [84]:
#crypto_df = pd.merge(item_name_df, most_popular_item, on="Item ID").sort_values("Purchase Count", ascending = False)
#crypto_df

In [85]:
item_total = most_popular_items.sort_values("Total Purchase Value", ascending = False)
# most_popular_items['Total Purchase Value'] = most_popular_items['Total Purchase Value'].map("${:,.2f}".format)
item_total["Total Purchase Value"] = item_total["Total Purchase Value"].map("${:,.2f}".format)
item_total.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80